<!DOCTYPE html>
<html>
<head>
    <title>Notification de candidature</title>
</head>
<body>
    <h1>Candidature : {{ application.recruitment.title }}</h1>
    <p>Statut : {{ message }}</p>
</body>
</html>
