<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
        <a href="#" class="navbar-brand">
            <h1 class="m-0 text-primary"><i class="fa fa-graduation-cap me-2"></i>EduPlus</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">À Propos</a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#recruitements" class="nav-link">Recrutements</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
            <a href="#" class="btn btn-primary ms-3">Se Connecter</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->

<!-- Header Start -->
<div class="container-fluid bg-primary text-white text-center py-5">
    <div class="container py-5">
        <h1 class="display-4">Bienvenue sur EduPlus</h1>
        <p class="lead mt-3">La plateforme idéale pour découvrir et postuler à des opportunités de recrutement universitaire.</p>
        <a href="#recruitements" class="btn btn-light btn-lg mt-4">Explorer les Recrutements</a>
    </div>
</div>
<!-- Header End -->


<!-- Recruitements Section End -->



{% block body %}{% endblock %}
