{% extends 'base_backoffice.html.twig' %}

{% block title %}All Notifications{% endblock %}

{% block body %}
    <h1>All Notifications</h1>

    <ul>
        {% for notification in notifications %}
            <li>
                <strong>{{ notification.content }}</strong> 
                <em>{{ notification.createdAt|date('d M, Y H:i') }}</em>
            </li>
        {% else %}
            <li>No notifications found.</li>
        {% endfor %}
    </ul>
{% endblock %}
